*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box
{
    width: 60%;
    height: 500px;
    border: 1px solid black;
    margin: auto;
}
.header
{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    background-color: black;
}
 .head
{
    width: 20%;
    height: 100px;
    /* background-color: lightgray; */
    float: left;
    color: white;
}
.menu
{
    width: 40%;
    height: 100px;
    /* background-color: lightpink; */
    float: left;
}
.menu a
{
    text-decoration: none;
    color: white;
}
.contact
{
    width: 30%;
    height: 100px;
    margin-left: 60px;
    /* background-color:lightsteelblue; */
    float: left;
    color: white;
}   
.con
{
    width: 100%;
    height: 500px;
    background-color: lightgrey;
    
}
.con h1
{
    float: right;
    padding-top: 200px;
    padding-right: 50px;
}
.con p
{
    float: right;
    margin-top: 20px;
}
.con h3
{
     text-align-last: right;
    
}